**/build/
**/dist/
**/coverage/
**/.nyc_output
**/.husky
**/.vscode
**/.webpack
packages/electron/out
**/node_modules/
**/tmp/
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock
**/package.json
**/tsconfig.json
**/*.html
packages/*/types
.docusaurus
