**/build/
**/dist/
**/build/
**/coverage/
**/.nyc_output
**/.husky
**/.vscode
**/.webpack
packages/electron/out
**/node_modules/
**/tmp
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock
**/package.json
packages/*/types
**/*.yaml
**/*.yml
docs
.docusaurus
